* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #463f3a;
  font: 18px/1.5 sans-serif;
}

body {
  width: 1280px;
  margin: 0 auto;
  padding: 0px;
  color: #303846;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
  background: #e0e7e9;
}

h1,
h3,
p {
  margin-top: 0;
}

h1 {
  color: #e07a5f;
  text-align: center;
  padding: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.article {
  column-count: 2;
  column-rule: 1px solid #3d405b;
  display: block;
  margin: 0 auto;
}

.allAboutPlanets {
  margin: 50px 50px;
  padding: 20px;
  color: #f4f1de;
  column-count: 2;
  column-span: all;
  background: black;
}

.planet {
  break-inside: avoid;
  margin: 0 25% 0 25%;
  width: 50%;
}

.w-100 {
  width: 100%;
}

.column-container {
  display: flex;
}


.column-4 {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.name-planet {
  font-weight: bold;
  background-color: rgb(160, 206, 226);
  text-align: center;
}

.planets-pics {
  width: 250px ;
  height: 120px;
}


